@model BlogPlatform.Models.Tag
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    @*@foreach (var post in Model.TagPosts.Posts)
    {
        <p>Posted By: @post.Author</p>
        <p>Title: @post.Title</p>
        <p>Body: @post.Body</p>
        <p>Category: @post.Category.Name</p>
        <p>Tags: @post.Tag.Name</p>
        <p>Published On @post.PublishDate</p>*@
        @*<ol>
                @foreach (var tag in Model.TagPost)
                {
                    <li>
                        @tag.Tag.Name
                    </li>
                }
            </ol>*@
        @*<a href="~/Post/Details/@post.Id">Details</a>
        <a href="/Post/Update">Update Post</a>
        <a href="/Post/Delete">Delete Post</a>
    }*@

</body>
</html>
