@model IEnumerable<BlogPlatform.Models.Post>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <h1>Individual Post Details></h1>

    @foreach (var post in Model.ToList())
    {
        <p>@post.Author</p>
        <p>@post.Title</p>
        <p>@post.Body</p>
        <p>@post.Category.Name</p>
        @*<p>Tag: @post.Tag.Name</p>*@
        <p>Published On @post.PublishDate</p>
    }

    <a href="/Home/Index"><button>Return Home</button></a>
</body>
</html>
