@model IEnumerable<BlogPlatform.Models.Post>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Blog Posts</title>
    <link href="~/style/BlogStyle.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merienda|Merienda+One|Oleo+Script+Swash+Caps|Satisfy&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <div class="header-image">
            <h1>Hobby Posts</h1>
        </div>

    </header>

    <section id="postIndex">
        @foreach (var post in Model.ToList())
        {
            <article>
                <p>Posted By: @post.Author</p>
                <p>Title: @post.Title</p>
                <p>Body: @post.Body</p>
                <p>Category: @post.Category.Name</p>
                <p>Published On @post.PublishDate</p>
            </article>
        }

        <a href="/Home/Index"><button class="button">Return Home</button></a>
    </section>
    <footer>
        <p>&copy;HobbyBlogy 2020</p>
    </footer>
</body>
</html>
