@model IEnumerable<BlogPlatform.Models.Post>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Blog Posts</title>
    <link href="~/style/BlogStyle.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merienda|Merienda+One|Oleo+Script+Swash+Caps|Satisfy&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <div class="header-image">
            <h1>Hobby Posts</h1>
        </div>

    </header>

    <section id="postIndex">
        @foreach (var post in Model)
        {
            <p>Posted By: @post.Author</p>
            <p>Title: @post.Title</p>
            <p>Body: @post.Body</p>
            <p>Category: @post.Category.Name</p>
            <p>Tags: @post.Tag.Name</p>
            <p>Published On @post.PublishDate</p>
            @*<ol>
                @foreach (var tag in Model.TagPost)
                {
                    <li>
                        @tag.Tag.Name
                    </li>
                }
            </ol>*@
            <a href="~/Post/Details/@post.Id">Details</a>
            <a href="/Post/Update">Update Post</a>
            <a href="/Post/Delete">Delete Post</a>
        }

        <a href="/Home/Index"><button class="button">Return Home</button></a>
    </section>
    <footer>
        <p>&copy;HobbyBlogy 2020</p>
    </footer>
</body>
</html>
